@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}
*{
  font-size: 17px;
  font-family: "JetBrainsMono Nerd Font";
  color: #ffffff;
  font-weight: 700;
  min-height: 0;
}
#waybar {
;  background: transparent;
  background-color: #4C1C24;
  border-radius:30px;
  padding: 0px 30px 0px 30px;
}
#workspaces{
;  font-size: 21px;
   border-radius:30px;
   padding: 0px 30px 0px 30px;
;   box-shadow:0px 0px black;
}


#cpu,
#pulseaudio,
#window,
#memory,
#language,
#tray,
#workspaces,
#network,
#wireplumber,
#battery,
#idle_inhibitor,
#custom-lizzy,
#custom-power,
#network,
#wireplumber,
#bluetooth,
#backlight,
#bluetooth,
#wireplumber,
#idle_inhibitor,
#workspaces,
#custom-lizzy,
#battery,
#keyboard-state,
#custom-clock,

#custom-notification{
  margin-left:5px;
  margin-right:5px;
  padding-left:10px;
  padding-right: 5px;
}


#idle_inhibitor {
  border-radius:10px;
  padding: 0px 10px 0px 10px;
}


#idle_inhibitor.activated{
  color:#e57474;
 border-radius:10px;
 padding: 0px 10px 0px 10px;
}

#custom-power{
  color:#c47fd5;
  padding: 0px 5px 0px 10px;
  border-radius:30px;
}

#custom-arch {
  margin-left: 5px;
  padding: 0px 15px 0px 10px;
  border-radius:30px;
}


#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: #D397F8;
  border-radius:30px;
}

#workspaces button.active {
  background-color: #7d0dc3;
  border-radius:30px;
}

#workspaces button.urgent {
  background-color: #f00000;
  border-radius:10px;
}

#language {
  background-color: #7D0DC3;
  border-radius:10px;
  padding: 0px 10px 0px 10px;
}


#custom-clock {
  color: #ffffff;
  background-color: #7d0dc3;
  border-radius:10px;
  padding: 0px 10px 0px 10px;
  font-size: 21px;
}



#custom-swaync {
  border-radius:10px;
  padding: 0px 10px 0px 10px;
}

#pulseaudio {
  border-radius:10px;
  padding: 0px 10px 0px 10px;
}

#taskbar {
  border-radius:10px;
  padding: 0px 10px 0px 10px;
}

#power-profiles-daemon {
  border-radius:10px;
  padding: 0px 10px 0px 10px;
}


#keyboard-state {
 border-radius:10px;
 padding: 0px 10px 0px 10px;
}

#backlight {
 border-radius:10px;
 padding: 0px 10px 0px 10px;
}

#keyboard-state.locked {
 color:#e57474;
 border-radius:10px;
 padding: 0px 10px 0px 10px;
}

#battery {
    border-radius:10px;
    padding: 0px 10px 0px 10px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
 color: orange;
}

#battery.critical {
 color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 1s;
}
